<html>

<body>
    <div class="main-container">
        <nav>
            <div class="container">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="">
                </div>
                <div class="menu">
                    <a href="/BasketStats/">Home</a>
                    <a href="/BasketStats/jugadores">Jugadores</a>
                    <a href="/BasketStats/equipos">Equipos</a>
                    <a href="/BasketStats/partidos">Partidos</a>
                    <a href="/BasketStats/whois">Who Is?</a>
                </div>
            </div>
        </nav>

        <router-outlet />

        <footer class="footer">
            <p><span>&copy;</span> 2025 BasketStats</p>
        </footer>
    </div>
</body>

</html>