<div class="container"
    *ngIf="partido?.teams?.home && partido?.teams?.visitors && partido?.scores?.home && partido?.scores?.visitors">
    <div class="partido">
        <img [src]="partido.teams.home.logo || '../../../assets/img/equipons.png" alt="">
        <div class="info">
            <p class="local">{{ partido.teams.home.name }}</p>
            <div class="puntos">
                <p>{{ partido.scores.home.points }}</p>
                <p>{{ partido.scores.visitors.points }}</p>
            </div>
            <p class="visitante">{{ partido.teams.visitors.name }}</p>
        </div>
        <img [src]="partido.teams.visitors.logo || '../../../assets/img/equipons.png'" alt="">
    </div>

    <div class="graficos" *ngIf="graficosListos">
        <canvas #tripleChart></canvas>
        <canvas #tirosCampoChart></canvas>
    </div>
    <div class="graficos" *ngIf="graficosListos">
        <canvas #rebOfensivoChart></canvas>
        <canvas #rebDefensivoChart></canvas>
    </div>
    <div class="graficos" *ngIf="graficosListos">
        <canvas #asistenciasChart></canvas>
        <canvas #bloqueosChart></canvas>
    </div>
    <div class="graficos" *ngIf="graficosListos">
        <canvas #robosChart></canvas>
        <canvas #perdidasChart  ></canvas>
    </div>
    
</div>