/* Mode 1 */
/* color */
$boton-hover: #0097b0;
$boton2: #2c3038;
$boton2-hover: #3a3f49;
$fondo: #10151e;
$fondo2: #2c3038;
$graficos: #0099b0;
$iconos: #ffc033;
$sombras: #4b4e57;
$texto: #00b5d9;
$texto2: #a1a5ae;